#header {
  background-color: #fff;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.logout-button, .main-button {
  padding: 8px 16px;
  background-color: #2B468B;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logout-button:hover, .main-button:hover {
  background-color: #2B468B;
}

#container {
  display: flex;
  margin-top: 20px;
  height: 600px; 
}
#sidebar {
  background-color: #f1f1f1;
  width: 200px;
  padding: 20px;
}

#content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

#sidebar h3 {
  margin-bottom: 10px;
}

#sidebar hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}

#sidebar ul {
  padding: 0;
  list-style-type: none;
}

#sidebar ul li {
  margin-bottom: 5px;
}

#sidebar ul li a {
  color: #333;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #2B468B;
}

#submenu1, #submenu2, #submenu3, #submenu4 #submenu5{
  display: none;
  margin-left: 20px;
}

#pageFrame {
  width: 100%;
  height: 100%;
  border: none;
}
