@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,600;1,600&display=swap');
header{
position: fixed;
top:0;left:0;
width:100%;
}
section{
padding-top: 150px;
padding-bottom: 150px;
}
